@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

body {
    background-color: #f5ece9 !important;
    font-family: "Quicksand", sans-serif;
}

body.modal-open .container {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
}

body.modal-open .carousel {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
}

body.modal-open footer {
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-150 {
    margin-top: 150px;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    min-width: 15rem;
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 800;
    transition: margin 0.25s ease-out, width 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
    max-height: 100vh;
    overflow-y: auto;
}

#page-content-wrapper {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: margin 0.25s ease-out, width 0.25s ease-out;
}

#page-content-wrapper .navbar-wrapper {
    margin-left: 15rem;
    transition: width 0.25s ease-out, margin 0.25s ease-out; 
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    width: 0; /* Sembunyikan sidebar ketika toggled */
    margin-left: -15rem;
    transition: margin 0.25s ease-out, width 0.25s ease-out;
}

body.sb-sidenav-toggled #wrapper #page-content-wrapper {
    margin-left: 0; /* Sesuaikan margin kiri saat sidebar disembunyikan */
    transition: margin 0.25s ease-out, width 0.25s ease-out;
}

body.sb-sidenav-toggled #wrapper #page-content-wrapper .navbar-wrapper {
    margin-left: 0; /* Sesuaikan margin kiri saat sidebar disembunyikan */
    transition: margin 0.25s ease-out, width 0.25s ease-out;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.list-group-item-light.list-group-item-action.active {
    color: #636464;
    background-color: #2f1f1c !important;
    border-color: #2f1f1c;
}

.overflow-hidden {
    overflow: hidden !important;
}

*[dir="rtl"] .mfs-3,
html:not([dir="rtl"]) .mfe-3 {
    margin-right: 1rem !important;
}

*[dir="rtl"] .mfe-3 {
    margin-left: 1rem !important;
}

.border-top-success {
    /* border-top: 3px solid #198754!important; */
    border-top: 5px solid #8f4030 !important;
}

.bg-light {
    /* background: #198754!important;
  border-top: 5px solid #ffb93a; */
    background-color: #8f4030 !important;
    /* border-top: 5px solid #d7664d; */
    color: white;
}

.bg-sidebar {
    background-color: #423937 !important;
}

.list-group-item-light {
    color: #fefefe !important;
    background-color: #423937 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.btn-success {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #8f4030 !important;
    border-color: #8f4030 !important;
}

.btn-success:hover {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #8f4030 !important;
    border-color: #8f4030 !important;
}

.btn-success:active {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #8f4030 !important;
    border-color: #8f4030 !important;
}

.btn-success:disabled {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #8f4030 !important;
    border-color: #8f4030 !important;
}

.btn-success:focus {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #8f4030 !important;
    border-color: #8f4030 !important;
    box-shadow: none !important;
}

.btn-success-dark {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #743427;
    border-color: #ffffff21;
}

.btn-success-dark:hover {
    color: #fff;
    /* background-color: #116f44;
  border-color: #116f44; */
    background-color: #743427f5 !important;
    border-color: #ffffff6c !important;
}

.ql-editor {
    min-height: 200px !important;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.map-container {
    height: 300px;
    width: 100%;
}

.mapboxgl-ctrl-geocoder {
    font: 15px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
    width: 33.3333%;
    min-width: 260px;
    max-width: 360px;
    z-index: 1;
    border-radius: 3px;
}

.mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    padding: 10px 10px 15px;
    pointer-events: auto;
}

.navbar-custom {
    /* background-color: #198754;
  border-top: 5px solid #ffb93a; */
    background-color: #8269e0;
    border-top: 5px solid #b0b6da;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}

.dropdown-menu {
    padding: 5px;
}

.dropdown-item:hover {
    color: white;
    /* background-color: #198754; */
    background-color: #8f4030;
    border-radius: 5px;
}

.nav-link.active {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.mt-minus-87 {
    margin-top: -87px;
}

.ms-8 {
    margin-left: 8rem !important;
}

.dropdown-menu {
    border: 0;
}

.icon-info-green {
    /* background-color: #689f38; */
    background-color: #8269e0;
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgb(4 172 233 / 20%);
    width: 45px !important;
    height: 45px !important;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 20px;
}

.icon-info-green i {
    position: relative;
    top: calc(47% - 11px);
}


@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

.bg-green {
    /* background-color: #43a047; */
    background-color: #8f4030;
}

.btn-cart {
    position: fixed;
    bottom: 100px;
    border-radius: 50px;
    z-index: 100;
    right: 8%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#count-cart {
    font-size: 12px;
    background: #bf0b1c;
    color: #fff;
    vertical-align: top;
    margin-left: -5px;
}

.nav-justified .nav-item,
.nav-justified > .nav-link {
    flex-basis: 0;
    flex-grow: 0.2;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav-justified .nav-item,
    .nav-justified > .nav-link {
        flex-basis: 0;
        flex-grow: 2;
        text-align: center;
    }
}

.product .card-body {
    background: #cee6f8;
}

.active > .page-link,
.page-link.active {
    z-index: 3;
    color: #fff;
    background-color: #8f4130;
    border-color: #8f4130;
}

.page-link {
    position: relative;
    display: block;
    color: #8f4130;
    text-decoration: none;
    background-color: #fff;
}

.rounded-top {
    border-top-left-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
}

.rounded-top-none {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0.5em !important;
    border-bottom-right-radius: 0.5em !important;
}

.bg-gray {
    background-color: #d8d8d8 !important;
}

.w-5 {
    width: 10%;
}

.btn-transparent {
    background-color: transparent !important;
}

.text-success {
    color: #8f4130 !important;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

.input-group-text-search {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #8f4130;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.image-zoom-container {
    position: relative;
    overflow: hidden;
    border: 0px;
}

.image-zoom {
    transition: transform 0.5s ease;
}

.image-zoom.zoomed {
    transform: scale(2); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 1000;
    cursor: zoom-out;
}

.zoomed-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: zoom-out;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: hidden;
}

.image-zoom.zoomed + .zoomed-image {
    display: block;
}

.image-zoom.zoomed + .zoomed-image::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998; 
}

.quote-wrapper {
    background-color: #f8f9fa;
    border-left: 4px solid #8f4130;
    padding: 20px;
    margin-bottom: 20px;
}

.quote-wrapper h2 {
    font-size: 24px;
    font-style: italic;
    color: #333;
    padding-left: 10px;
    margin-bottom: 10px;
}